body, html {

	/* --main-background: #F8F9F9;
    --main-font: #383838;
    --grey-color: #6c757d;
    --contrast-color: #eb5a1e;
	--free: #0EA107; */

	background-color: var(--main-background);
	height: 100%;
}

html.light-theme{
	--main-background: #F8F9F9;
    --main-font: #000000;
    --grey-color: #6c757d;
    --contrast-color: #eb5a1e;
	--free: #0EA107;
	--card-color: #fff;
}
html.dark-theme{
	--main-background: #111111;
    --main-font: #ececec;
    --grey-color: #eeeeee;
    --contrast-color: #eb5a1e;
	--free: #0EA107;
	--card-color: #222222;
}




/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	left: 0px;
	bottom: 4px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('https://i.ibb.co/FxzBYR9/night.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  input:checked + .slider {
	background-color: #2196f3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
	background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
	background-repeat: no-repeat;
	background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  










  .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap-reverse;
	margin-right: -15px;
	margin-left: -15px;
  }


h3, h4 {
	font-family: 'Merriweather', serif;

}

.cart-item__title{
	color: var(--main-font);
}
.item-title {
	color: var(--main-font);
}
.price__currency {
	color: var(--main-font);
}
.display-4 {
	color: var(--main-font);
}
.card-title {
	color: var(--main-font);
}
.lead {
	color: var(--main-font);
}
.card {
	background-color: var(--card-color);
	border: 1px solid rgba(0, 0, 0, 0.125);
}
  .h5, h5 {
    color: var(--main-font);
}

.header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.product-img {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Merriweather', serif;
	height: 70px;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #eb5a1e;
    color: var(--main-font);
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: var(--grey-color)!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.btn-outline-warning:hover {
    color: var(--main-font);
    background-color: var(--contrast-color);
    border-color:var(--contrast-color);
}

.cart-item {

}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img  {


}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: var(--grey-color) !important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

.delivery-cost {

}

.free {
	color: var(--free);
}

.total-price {
	color: var(--contrast-color);
}

.rouble {
	color: var(--contrast-color);
}

.none {
	display: none;
}














